 {% extends 'layout.twig' %}

{% block main %}
 <main>
        <article>
            <div class="spisok">
                <h3 class="zag">Представленные ниже сериалы можно посмотреть на следующих стриминговых сервисах:</h3>
                <ul type="disc">
                {% for spis in spisok %}
                    <li>{{spis.text}}</li>
                {% endfor %}
                </ul>
            </div>
            <div class="im">
                <img src="image/Roman-Holiday-04.jpg" alt="" width="300" onmouseover="over(this);"
                    onmouseout="out(this);">
            </div>
            <h4 class="nazv1">Подборка сериалов</h4>
            <div class="tab">
                <table class="table">
                    <tr class="table_style">
                        <th>Индекс</th>
                        <th>Название сериала</th>
                        <th>Жанр</th>
                        <th>Количество сезонов</th>
                    </tr>
                    <tr class="table_style">
                        <td>1</td>
                        <td>Друзья</td>
                        <td>Комедия, Романтика</td>
                        <td>10 сезонов</td>
                    </tr>
                    <tr class="table_style">
                        <td>2</td>
                        <td>11.22.63.</td>
                        <td>Драма, Детектив, Фантастика</td>
                        <td>1 сезон</td>
                    </tr>
                    <tr class="table_style">
                        <td>3</td>
                        <td>Черное зеркало</td>
                        <td>Драма, Фантастика, Триллер</td>
                        <td>5 сезонов</td>
                    </tr>
                    <tr class="table_style">
                        <td>4</td>
                        <td>Касл</td>
                        <td>Криминал, Драма</td>
                        <td>8 сезонов</td>
                    </tr>
                    <tr class="table_style">
                        <td>5</td>
                        <td>Твин Пикс</td>
                        <td>Криминал, Драма, Сверхъестественное</td>
                        <td>3 сезона</td>
                    </tr>
                    <tr class="table_style">
                        <td>6</td>
                        <td>Наследие</td>
                        <td>Драма, Романтика, Сверхъестественное</td>
                        <td>3 сезона</td>
                    </tr>
                    <tr class="table_style">
                        <td>7</td>
                        <td>Игра престолов</td>
                        <td>Приключения, Драма, Фэнтези</td>
                        <td>8 сезонов</td>
                    </tr>
                    <tr class="table_style">
                        <td>8</td>
                        <td>Почему женщины убивают</td>
                        <td>Комедия, Криминал, Драма</td>
                        <td>1 сезон</td>
                    </tr>
                    <tr class="table_style">
                        <td>9</td>
                        <td>Ложное обвинение</td>
                        <td>Криминал, Драма, Юридический</td>
                        <td>1 сезон</td>
                    </tr>
                    <tr class="table_style">
                        <td>10</td>
                        <td>Чудотворцы</td>
                        <td>Комедия, Драма, Сверхъестественное</td>
                        <td>2 сезона</td>
                    </tr>
                    <tr class="table_style">
                        <td>11</td>
                        <td>Радиоволна</td>
                        <td>Криминал, Драма, Фантастика</td>
                        <td>1 сезон</td>
                    </tr>
                    <tr class="table_style">
                        <td>12</td>
                        <td>Испытание невиновностью</td>
                        <td>Криминал, Драма, Детектив</td>
                        <td>1 сезон</td>
                    </tr>
                    <tr class="table_style">
                        <td>13</td>
                        <td>Электрические сны Филипа К. Дика </td>
                        <td>Драма, Детектив, Фантастика</td>
                        <td>1 сезон</td>
                    </tr>
                    <tr class="table_style">
                        <td>14</td>
                        <td>Расскажи мне сказку</td>
                        <td>Драма, Триллер</td>
                        <td>2 сезона</td>
                    </tr>
                    <tr class="table_style">
                        <td>15</td>
                        <td>Холистическое детективное агентство Дирка Джентли</td>
                        <td>Комедия, Детектив, Фантастика</td>
                        <td>2 сезона</td>
                    </tr>
                    <tr class="table_style">
                        <td>16</td>
                        <td>Приманка</td>
                        <td>Драма, Триллер</td>
                        <td>1 сезон</td>
                    </tr>
                </table>
            </div>
        </article>
    </main>
{% endblock %}